{% extends "layouts/default.html" %}
{% block title %}Welcome to Analysfilen{% endblock %}

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">
          <h1 class="page-header">Show item <a class="btn btn-primary" href="/items/{{ item.key }}/edit" role="button">Edit</a> <a class="btn btn-danger" href="/items/{{ item.key }}/delete" role="button">Delete</a></h1>
          <div class="table-responsive">
            <table class="table table-striped new-template-fields">
              <tbody>
                {% for field in item.fields %}
                <tr>
                  <td>
                    {{ field.name }} : {{ field.value }}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  
{% endblock %}
